<html>

<body>

<h1>Jobs</h1>


{% for job in jobs %}

<div>
    <p>{{job.name}}</p>
</div>

<div>
    <a href = "{{ url_for('getWeaponFor', job_req = job.name) }}"> Weapons </a>
</div>

{% endfor %}

        {% if user==None %}
            <div id="signinButton">
                <a href = "{{ url_for('showLogin') }}"> Login </a>
            </div>
            {% else %}
                <div>
                    <a href="">Logged in as: {{ user }}</a>
                </div>
                <div>
                    <a href="{{ url_for('gdisconnect') }}">Sign out</a>
                </div>
        {% endif %}
</body>

</html>